.body-section {
    background-color: #ffffff;
}

.square {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    margin-left: 120px;
}

.one {
    background-color: black;
}

.two {
    background-color: #0000009d;
}

.three {
    background-color: #00000057;
}

.four {
    background-color: rgba(0, 0, 0, 0.144);
}

.container {
    padding: 15px;
    background-color: rgb(243, 229, 210);
    width: 400px;
    height: 900px;
}